#assignment1 {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px;
  font-family: Verdana;
}

#assignment1fs {
  background-color: #a0bc2c;
  color: black;
  border: 2px solid #37411c;
  border-radius: 10px;
  padding: 50px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.as1tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #c9d89f;
  border: 2px solid #37411c;
  border-radius: 5px;
}


label.as1 {
  /* font-weight: bold; */
  width: 40%;
  text-align: left;
  font-family: sans-serif;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  color: #999;
  font-size: 16px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-items: space-between;
  gap: 10px;
  padding-right: 5px;
}

.radio-group input[type="radio"] {
  margin-right: 8px;
}

.radio-group label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.radio-group div {
  display: flex;
  align-items: center;
}

.radio-group img {
  width: 24px;
  height: 24px;
}
.as11tr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 12px;
  background-color: #c9d89f;
  border: 2px solid #37411c;
  border-radius: 5px;
}

.as1button{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

#button1 {
  background-color: #37411c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 90px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  text-align: center;
  font-family: Verdana;
}

#button1:hover {
  background-color: #2c3617;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #a0bc2c;
  box-shadow: 0 0 5px rgba(160, 188, 44, 0.5);
}

@media (max-width: 768px) {
  #assignment1fs {
    width: 100%;
    padding: 20px;
  }

  label.as1 {
    width: 100%;
    margin-bottom: 5px;
  }
  label.as11 {
    width: 100%;
    margin-bottom: 1px;
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea {
    width: 100%;
  }

  #button1 {
    font-size: 16px;
  }
}