#assignment1{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#assignment1fs{
  color:black;
  background-color: turquoise;
}
.as1{
  color: black;
}
#as1form .button{
  flex-direction: row;

}
#as1h1{
  color: black;
  text-decoration: underline;
}
.as1table{
  text-align: top;
  border-style: none;
  width: auto;
  align-items: top ;
  border: none;
}
.as1tr{
  border: none;
  border-style: none;
  width: 50%;
  -webkit-column-span: all;
  column-span: all;
  vertical-align: top;
  text-align: left;
  padding: 10px;
}
.as1td{
  border:none;
  border-style: none;
  width: 20%;
  -webkit-column-span: all;
  column-span: all;
  vertical-align: top;
  text-align: left;
  padding: 10px;

}
.as1button{
  color: white;
  padding: 10px;
  border-style: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
  
}
.radio-group{
  display: flex;
  flex-direction: row;
}
.asformm{
  border:none;
}
#button1{
  background-color:#33D439;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10%;
}
#button2{
  background-color: #547EF3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10%;
}