html {
  transition: background-color 0.3s, color 0.3s;
}

[data-theme="light"] {
  background-image: url('https://plus.unsplash.com/premium_photo-1728569693976-1f90749553d7?q=80&w=2012&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  --color-bg: #ffffff;
  --color-fg: #000000;
}

[data-theme="dark"] {
  background-image: url('https://images.unsplash.com/photo-1736131660777-8b7aa6bb0efe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  --color-bg: #000000;
  --color-fg: #ffffff;
}

html, body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--color-fg);
  margin-top: 25px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo img {
  width: 40px;
  height: 50px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0 auto;
  padding: 0;
}

.nav-links li a {
  color: var(--color-fg);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: green;
  text-decoration-style: dotted;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}
h1, h2 {
  color: red;
}

h4 {
  color: green;
}

p {
  color: lightblue;
}

section {
  margin: 20px;
}

table {
  width: 50%;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  color: var(--color-fg);
  border: 1px solid var(--color-fg);
}

ul {
  color: lightblue;
}

hr {
  color: var(--color-fg);
  width: 50%;
}

button {
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 10px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: var(--color-fg);
}

form .button {
  display: flex;
  flex-direction: row;
}

#sometitle {
  color: red;
}

legend {
  color: var(--color-fg);
}

#current {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: red;
  text-decoration-style: dashed;
}

#table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-wrapper li a{
  color: lightblue;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: hotpink;
}