@keyframes navanimation {
  from {
    color: teal;
  }
  to {
    color: green;
  }
}
body {
  background-color: black;
}
nav {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  overflow: hidden;
}
nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
nav a:hover {
  animation-name: navanimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
h1,h2 {
  color: red;
}
h4 {
  color: green;
  padding: 0 0 0 20px;
}
p {
  color: cyan;
  padding: 0 0 0 20px;
}
section {
  margin: 20px;
}
th, td {
  color: white;
  border-style: hidden;
  /* width: 70%; */
}
 table{
  width: 50%;
  text-align: center;
  border-style: hidden;
}
table, th, td {
  border: 1px solid white;
}
ul {
  color: cyan;
  padding: 0 0 0 100px;
}
hr {
  color: white;
  padding: auto;
}
button {
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
}
button:hover {
  background-color: white;
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: white;
}
form .button{
  display: flex;
  flex-direction: row;
}
#sometitle {
  color: red;
}
legend {
  color: white;
}
#current{
  border: 1px solid white;
  color: turquoise;
  border-radius: 15%;
}
#table{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
}
#assignment1{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#assignment1fs{
  color:black;
  background-color: turquoise;
}
.as1{
  color: black;
}
#as1form .button{
  flex-direction: row;

}
#as1h1{
  color: black;
  text-decoration: underline;
}
.as1table{
  text-align: top;
  border-style: none;
  width: auto;
  align-items: top ;
  border: none;
  /* align-self: ; */
}
.as1tr{
  border: none;
  border-style: none;
  width: 50%;
  -webkit-column-span: all;
  column-span: all;
  vertical-align: top;
  text-align: left;
  padding: 10px;
}
.as1td{
  border:none;
  border-style: none;
  width: 20%;
  -webkit-column-span: all;
  column-span: all;
  vertical-align: top;
  text-align: left;
  padding: 10px;

}
.as1button{
  color: white;
  padding: 10px;
  border-style: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
  
}
.radio-group{
  display: flex;
  flex-direction: row;
}
/* .as1form{
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 15px;
  column-gap: 10px;
  max-width: 500px;
} */
.asformm{
  border:none;
}
#button1{
  background-color:#33D439;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10%;
}
#button2{
  background-color: #547EF3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10%;
}